<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/> <!-- used to obtain Wi-Fi environment information -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- used to scan Wi-Fi Access Points -->
    <uses-permission
            android:name="android.permission.CHANGE_WIFI_STATE"/> <!-- used to access device current Latitude and Longitude -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
            android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- used to access device physical activities -->
    <uses-permission
            android:name="android.permission.ACTIVITY_RECOGNITION"/> <!-- used to access device physical activities running Android 9 and below -->
    <uses-permission
            android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/> <!-- used to read saved SDK UUID -->
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- used to keep SDK UUID for future usage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permissin.ACCESS_SURFACE_FLINGER"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Trippy_Android"
            tools:targetApi="31">
        <activity
                android:name=".User.Login.LoginActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
                android:name=".OnBoarding.OnBoardingActivity1"
                android:exported="false">

        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="true">

        </activity>
    </application>

</manifest>